apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-api-to-nats
  namespace: cuegrowth
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: nats
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: api
      ports:
        - protocol: TCP
          port: 4222
