apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "api.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "api.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  strategy:
    {{- toYaml .Values.strategy | nindent 4 }}
  selector:
    matchLabels:
      {{- include "api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "api.selectorLabels" . | nindent 8 }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: api
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 10 }}
        ports:
        - name: http
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        env:
        - name: NATS_URL
          value: {{ .Values.env.natsUrl | quote }}
        - name: NATS_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secrets.natsAuth }}
              key: username
        - name: NATS_PASS
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secrets.natsAuth }}
              key: password
        - name: VALKEY_HOST
          value: {{ .Values.env.valkeyHost | quote }}
        - name: VALKEY_PORT
          value: {{ .Values.env.valkeyPort | quote }}
        - name: VALKEY_PASS
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secrets.valkeySecret }}
              key: password
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}